@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     padding: 0;
    margin:0;
    box-sizing: border-box;
    background: #EACEC0;
}

html{
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1{
  margin: 30px 0;
  font-weight: 500;
}

.nav-link::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #CC5933;
          transition: width 0.3s ease-in-out;
        }
        
        .nav-link:hover::after {
          width: 100%;
        }